@import "bootstrap/bootstrap";

@import "variables";
@import "mixins";

body{
    position:relative;
}

pre{
	padding:2rem;
	width:100%;
	box-sizing:border-box;
	background-color:#7f7f7f;
	color:#000;
	margin:0;
}

@import "modules/wmb-grid";
@import "modules/wmb-popup";
