section.wmbGrid{
  ul.mosiac{
    transition: opacity 0.3s ease;

    &.xhidden{
      opacity:0;
    }

    width: 100%;
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    background-image: url('../img/background.jpg');
    background-repeat: no-repeat;
    background-size:cover ;
    background-postion:50% 50%;
    overflow: hidden;

    li{
      width: calc(100% / 32);
      flex-basis: calc(100% / 32);
      height: calc(100vh / 20);
      overflow: hidden;
      background-repeat: no-repeat;
      background-size:cover ;
      background-position:50% 50%;
      opacity: 0.5;
      transition: opacity 0.3s ease, transform 0.3s ease;

      /*
      &:nth-child(even){
        background-color:#f00;
      }
      &:nth-child(odd){
        background-color:#0f0;
      }
      */

      figure{
        display: none;
      }

      &.active{
        cursor: pointer;
        opacity:0.5;
        .yellow{
          opacity:0.75;
          width: 100%;
          height: 100%;
          background-color: #fff600;
          transition: opacity 0.3s ease;
        }

        &:hover{
          position:relative;
          z-index:10;
          transform:scale(2.0,2.0);
          opacity:1.0;
          .yellow{
            opacity:0;
          }
        }
      }
    }
  }
}

/*
ul.mosiac li figure{
  display: none;
  height: 100%;
  position: relative;
  margin: 0;
}
ul.mosiac li figure img{
  position:absolute;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
  width: 100%;
  object-fit:cover;
}
ul.mosiac li:hover figure{
  opacity: 0.8;
}
*/
