/*
wmb-popup
*/

.popup,
.modal-backdrop {
	position:fixed;
	left:0px;
	top:0px;
	bottom:0;
	right:0;
	transform:scale(0,0); 
	-webkit-transition: opacity 0.3s ease, transform 0.3s ease;
	-moz-transition: opacity 0.3s ease, transform 0.3s ease;
	-ms-transition: opacity 0.3s ease, transform 0.3s ease;
	-o-transition: opacity 0.3s ease, transform 0.3s ease;
	transition: opacity 0.3s ease, transform 0.3s ease;
}

.modal-backdrop {
	z-index:2;
	opacity: 0.5;
	background-color: #fff;
}
.popup {
	z-index: 1050;
	display:flex;
	align-items:center;

	button.close{
		position:absolute;
		right:1rem;
		top:1rem;
	}

	.modal-body{
		width:50%;
		.container{
			position:relative;
			background-color:#fff;
			border-radius:1rem;
			-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.95);
			-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.95);
			box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.95);
   
			padding:2rem;
		}
		figure{
			margin:0;
			&.company{
				background-color:#7f7f7f;
			}
			img{
				width:100%;

			}
		}
	}

	@media screen and (orientation:landscape) and (max-height:750px) {
		&{
		}
	}
}


body.modal-open{
	overflow:hidden;
	position:relative;
	.popup {
		/*
		opacity:1;
		*/
		overflow-x: hidden;
		overflow-y: auto;
		transform:scale(1.0,1.0);
	}

	.modal-backdrop {
		transform:scale(1.0,1.0);
	}
}
